{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
    {apps, [auto_updater_service]}
]}.

{relx, [
    {release, {auto_updater_service, "1.0.0"}, [
        auto_updater_service,
        sasl
    ]},
    {mode, dev},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
