{:paths ["src" "resources" "mental_models_system/src/electric/src" "mental_models_system/src/electric/test"]
 
 :deps {;; Electric Clojure
        com.hyperfiddle/electric {:mvn/version "v2-alpha-540-ga4699532"}
        
        ;; Server
        ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        metosin/reitit {:mvn/version "0.7.0"}
        
        ;; Database
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.909"}
        com.mysql/mysql-connector-j {:mvn/version "8.2.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.5.1103"}
        
        ;; JSON & HTTP
        metosin/jsonista {:mvn/version "0.3.8"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        
        ;; Logging & Utils
        com.taoensso/timbre {:mvn/version "6.3.1"}
        environ/environ {:mvn/version "1.2.0"}
        
        ;; Statistics & Analysis
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
        
        ;; File Processing
        org.apache.pdfbox/pdfbox {:mvn/version "3.0.0"}
        org.apache.poi/poi-ooxml {:mvn/version "5.0.0"}
        
        ;; Async
        org.clojure/core.async {:mvn/version "1.6.681"}}
 
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                     cider/cider-nrepl {:mvn/version "0.45.0"}}}
  :prod {:main-opts ["-m" "mental-models.main"]}
  :test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                             :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.01.01"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
  :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
           :main-opts ["-m" "cljfmt.main" "fix" "src"]}}}
