{erl_opts, [debug_info]}.

{deps, []}.

{relx, [{release, {debug_logger_service, "1.0.0"},
         [debug_logger_service,
          sasl]},

        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.

{profiles, [{prod, [{relx,
                     [{mode, prod},
                      {dev_mode, false},
                      {include_erts, true}]}]
            }]}.
