[
    {code_improver_service, [
        {port, 8010},
        {lm_studio_url, "http://host.docker.internal:1234"},
        {check_interval, 300000},
        {improvement_batch_size, 5},
        {max_concurrent_improvements, 2},
        {auto_deploy, false},
        {require_tests_pass, true},
        {require_lint_pass, true}
    ]}
].
