{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jiffy, "1.1.1"},
    {hackney, "1.20.1"}
]}.

{shell, [
    {apps, [deployment_controller]}
]}.

{relx, [
    {release, {deployment_controller, "1.0.0"}, [deployment_controller, sasl]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.
