{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"},
    {gun, "2.0.1"}
]}.

{shell, [
    {apps, [code_improver_service]}
]}.

{relx, [
    {release, {code_improver_service, "1.0.0"}, [
        code_improver_service,
        cowboy,
        jsx,
        sasl
    ]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
