{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"},
    {hackney, "1.20.1"}
]}.

{shell, [{apps, [gdrive_backup]}]}.

{relx, [
    {release, {gdrive_backup, "1.0.0"}, [gdrive_backup, sasl, hackney, ssl, inets]},
    {mode, dev},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{mode, prod}, {include_erts, true}]}]}]}.
